@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Playfair+Display:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h2,
h3 {
  font-family: 'Playfair Display';
  font-weight: 700;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 240px;
  height: 240px;
}

body {
  background: #262B46;
  color: #fff;
  font-family: 'Montserrat';
}