header {
  height: 352px;

  .navbar ul {
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
    margin: 15px 0;

    li {
      font-size: 13px;
    }

    li:first-of-type {
      font-family: 'Playfair Display';
      font-weight: 700;
      letter-spacing: 4px;
    }
  }

  .title-section {
    padding: 0 48px;

    h1 {
      font-family: 'Playfair Display';
      font-weight: 400;
      font-size: 3.25rem;
      margin-top: 68px;
    }

    p {
      font-size: 13px;
      line-height: 1.3rem;
      margin: 2% 0 10% 0;
    }
  }
}
